fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg[binary]
pydantic-settings
email-validator
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt<5
python-multipart
redis
celery
flower
httpx
structlog
prometheus-client
pytest
pytest-asyncio
faker
ruff
mypy
black
pre-commit
